In [66]:
print("Welcome to the Backend!")

Welcome to the Backend!

In [67]:
print("Welcome to the Backend's!")

Welcome to the Backend's!

In [68]:
print('Welcome to the Backend\'s!')

Welcome to the Backend's!

In [69]:
if [1]:
 print('Hello')

Hello

In [70]:
2 + 2

4

In [71]:
a = "Hello"

In [72]:
a

'Hello'

In [73]:
a = """Python
class"""
print(a)

Python
class

In [74]:
b = """Pyt
hon
cla
ss"""
print(b)

Pyt
hon
cla
ss

In [77]:
a = "Hello, World!"
print(len(a))

13

In [79]:
a = "Hello World!"
print(a[1])

e

In [80]:
a[0]

'H'

In [82]:
a[8]

'r'

In [84]:
a[0:3]

'Hel'

In [85]:
a[:3]

'Hel'

In [92]:
a[7:]

'orld!'

In [95]:
a[::-1]

'!dlroW olleH'

In [97]:
a.casefold()

'hello world!'

In [98]:
a.upper()

'HELLO WORLD!'

In [99]:
a.lower()

'hello world!'

In [102]:
a.count("l")

3

In [103]:
a.startswith("H")

True

In [116]:
string3 = "ol eyyyyy"
print(string3.strip("y"))

ol e

In [118]:
string2 = "yyol eyyyyy"
print(string2.rstrip("y"))

yyol e

In [119]:
string1 = "yyol eyyyyy"
print(string2.lstrip("y"))

ol eyyyyy

In [110]:
5/3

1.6666666666666667

In [112]:
5//3

1

In [115]:
5%3

2

In [121]:
3 == 5

False

In [125]:
a = 5
a == 5

True

In [127]:
a != 5

False

In [129]:
print((9 > 7) and (2 < 4))

True

In [131]:
if []:
    print("This is true")

In [132]:
if [1]:
    print("This is true")

This is true

In [133]:
a = list()
print(a)

[]

In [134]:
a = list()
print(type(a))

<class 'list'>

In [135]:
a = list("abc")
print(a)

['a', 'b', 'c']

In [136]:
a = list("ab c")
print(a)

['a', 'b', ' ', 'c']

In [137]:
a = list((1, 2, 3))
print(a)

[1, 2, 3]

In [140]:
a = list("abc")
print(a)

['a', 'b', 'c']

In [141]:
a.append("A")
print(a)

['a', 'b', 'c', 'A']

In [146]:
stack = []
for i in range(5):
    stack.append(i)
    print(stack)
while len(stack):
    print(stack.pop())

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
4
3
2
1
0

In [143]:
stack = []
for i in range(5):
    stack.append(i)
print(stack)

[0, 1, 2, 3, 4]

In [147]:
stack = []
for i in range(5):
    stack.append(i)
print(stack)
while len(stack):
    print(stack.pop())

[0, 1, 2, 3, 4]
4
3
2
1
0

In [153]:
a = [1, 3, 5, 6, 8]
print(a.pop(3))
print(a)

6
[1, 3, 5, 8]

In [165]:
a = ["ü", "m", "i", "t"]
a

['ü', 'm', 'i', 't']

In [167]:
a.reverse()

In [168]:
a

['t', 'i', 'm', 'ü']

In [173]:
print(a)
a.reverse()

['t', 'i', 'm', 'ü']

In [175]:
a.sort()
a

['i', 'm', 't', 'ü']

In [177]:
a = ['ali', 2, [1,3], 7]
a[2][1]

3

In [178]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [180]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [181]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [182]:
thistuple = ("apple", "a")
print(type(thistuple))

<class 'tuple'>

In [183]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [184]:
thistuple.count("apple")

1

In [185]:
thistuple.index("apple")

0

In [186]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [187]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [188]:
x = thisdict["model"]
print(x)

Mustang

In [189]:
thisdict["model"]

'Mustang'

In [193]:
thisdict.get("modell", "Key yok!")

'Key yok!'

In [195]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [196]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [197]:
thisdict["color"] = "white"

In [198]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [199]:
thisdict["year"] = 2018

In [200]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [201]:
thisdict.values()

dict_values(['Ford', 'Mustang', 2018, 'white'])

In [202]:
thisdict.popitem()

('color', 'white')

In [203]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [204]:
thisdict["color"] = "red"

In [205]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [206]:
thisdict.popitem()

('color', 'red')

In [207]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [208]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

In [210]:
thisdict.get("brand")

'Ford'

In [217]:
a = {1, 2, 3, 10, 32, 100}
b = {1, 2, 32}

In [216]:
a.difference(b)

{3, 10, 100}

In [218]:
a.intersection(b)

{1, 2, 32}

In [219]:
a.union(b)

{1, 2, 3, 10, 32, 100}

In [220]:
list11 = [1]
if list11:
    print("The list is not empty!")

The list is not empty!

In [221]:
list11 = []
if list11:
    print("The list is not empty!")

In [224]:
c = 200
d = 33
if c > d:
  print("c is greater than d")
elif c == d:
  print("c and d are equal")
else:
  print("c is greater than d")

c is greater than d

In [1]:
t = 2
z = 330
print("A") if t > z else print("B")

B

In [2]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [3]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [6]:
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [7]:
i = 5
while i > 0:
    print(f'Countdown: {i}')
    i -= 1

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1

In [6]:
import time

i = 5
while i > 0:
    print(f'Countdown: {i}')
    time.sleep(.5)
    i -= 1

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1

In [10]:
import time

i = 5
while i > 0:
    print(f'Countdown: {i}')
    time.sleep(1)
    i -= 1
print('!!! Fire !!!')

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
!!! Fire !!!

In [24]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [25]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [15]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == 'banana':
        break
    print(fruit)

apple

In [16]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == 'banana':
        continue
    print(fruit)

apple
cherry

In [18]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [20]:
for x in range(3,6):
  print(x)

3
4
5

In [23]:
for x in range(3,9,2):
  print(x)

3
5
7

In [26]:
adjs = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adj in adjs:
  for fruit in fruits:
    print(adj, fruit)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [28]:
adjs = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adj in adjs:
  for fruit in fruits:
    pass

In [29]:
def my_function():
  return "Hello from a function"

In [30]:
my_function()

'Hello from a function'

In [31]:
def my_function(name):
    return f"Hello {name} how are you?"

my_function("John")

'Hello John how are you?'

In [35]:
def my_function(name, name2):
    return f"Hello {name} and {name2} how are you?"

my_function("John", "Rafe")

'Hello John and Rafe how are you?'

In [40]:
def my_function(name, last_name):
    return f"Hello {name} {last_name} how are you?"

my_function("John", "Smith")

'Hello John Smith how are you?'

In [34]:
def my_function(*kids):
  return "The youngest child is " + kids[0]

my_function("Hans", "Angel", "Lilly")

'The youngest child is Hans'

In [41]:
def my_function(child3, child2, child1):
  return "The youngest child is " + child3

my_function(child1 = "Hans", child2 = "Angel", child3 = "Lilly")

'The youngest child is Lilly'

In [42]:
def my_function(**kids):
    for kid in kids.values():
        print(f"Hello {kids}")

my_function(name = "John", last_name = "Smith")

Hello {'name': 'John', 'last_name': 'Smith'}
Hello {'name': 'John', 'last_name': 'Smith'}

In [43]:
def my_function(country = "Norway"):
  return "I am from " + country

my_function("Sweden")
my_function()

'I am from Norway'

In [44]:
def my_function(country = "Norway"):
  return "I am from " + country

my_function("Sweden")
# my_function()

'I am from Sweden'

In [45]:
def my_function(country):
  return "I am from " + country

# my_function("Sweden")
my_function()

TypeError: my_function() missing 1 required positional argument: 'country'

In [46]:
def my_function(country):
  return "I am from " + country

my_function("Sweden")
# my_function()

'I am from Sweden'

In [47]:
def my_function(country = "Norway"):
  return "I am from " + country

# my_function("Sweden")
my_function()

'I am from Norway'

In [48]:
def my_decorator(func):
    def wrapper():
        # Do something before
        result = func()  # or only func()
        # Do something after
        return result  # or erase this line, with only func() above
    return wrapper

@my_decorator
def func():
    pass

In [52]:
import time

def elapsed_time(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time()
        print(f'Elapsed time: {(t2 - t1) * 1000} ms')
    return wrapper

@elapsed_time
def big_sum():
    num_list = []
    for num in (range(0, 10000)):
        num_list.append(num)
    print(f'Big sum: {sum(num_list)}')

big_sum()

Big sum: 49995000
Elapsed time: 0.9965896606445312 ms